{% extends "layout.njk" %}

{% block content %}

    <form class="card" method="POST" action="/instructors">

        <section class="avatar" style="background: url(https://source.unsplash.com/collection/95556558/500x500) no-repeat center center / cover">
        </section>

        <section class="details">
            <h3>Details</h3>

            <div class="item">
                <div>Instructor</div>
                <div>Jeisao girl - TRANS</div>
            </div>

            <div class="item">
                <div>Age</div>
                <div>24</div>
            </div>

            <div class="item">
                <div>Gender</div>
                <div>Female</div>
            </div>

            <div class="item">
                <div>Monitor progress of clients</div>
                <div>
                    <span>Rabo de foguete</span>
                    <span>Safadenha</span>
                </div>
            </div>

            <div class="item">
                <div>Since</div>
                <div>24/10/2020</div>
            </div>


        </section>

    </form>
    

{% endblock content %}