{% extends "layout.njk" %}

{% block content %}

    <form class="card" method="POST" action="/instructors">

        <section class="avatar" style="background: url({{ instructor.avatar_url }}) no-repeat center center / cover">
        </section>

        <section class="details">
            <h3>Details</h3>

            <div class="item">
                <div>Instructor name</div>
                <div>{{ instructor.name }}</div>
            </div>

            <div class="item">
                <div>Age</div>
                <div>{{ instructor.age }}</div>
            </div>

            <div class="item">
                <div>Gender</div>
                <div>

                    {% if instructor.gender == "M" %}
                        Male
                    {% elif instructor.gender == "F" %}
                        Female
                    {% else %}
                         Lesbian, gay, bisexual, transgender and queer or questioning.
                    {% endif %}
                    
                    </div>
            </div>

            <div class="item">
                <div>Work-related field</div>
                <div>

                    {% for service in instructor.services%}

                    <span>{{ service }}</span>

                    {% endfor %}
                    
                </div>
            </div>

            <div class="item">
                <div>Since</div>
                <div>{{ instructor.created_at }}</div>
            </div>

            <a href="/instructors/{{ instructor.id }}/edit" class="button">Edit</a>

        </section>

    </form>
    

{% endblock content %}